.main-section
  background-image: url('../assets/img/img-png/backgraund-main.png')
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 100%
  height: calc( 100vh - 20px )

  &__title-wrap
    margin-left: 960px
    h2
      color: $c3
      padding-top: 112px
      font-family: $Form
      font-size: 72px;
      font-weight: 400;
      line-height: 72px;
      text-align: start;
      text-transform: uppercase
      span
        display: block
