<header class="header">
  <div class="container-fluid">
    <div class="header__block">
      <a class="header__logo" href="/">HIKARI</a>
      <nav class="header__nav">
        <ul>
          <li><a class="js-scroll" href="#company">Company</a></li>
          <li><a class="js-scroll" href="#models">Models</a></li>
          <li><a class="js-scroll" href="#services">Service</a></li>
          <li><a class="js-scroll" href="#footer">Contacts</a></li>
        </ul>
      </nav>
      <div class="header__lang-wrap">
        <a href="#">RUS</a>
        <a href="#">ENG</a>
        <a href="#">JPN</a>
      </div>
    </div>
    <button class="js-menu hamburger hamburger--collapse d-lg-none d-block" data-target="hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>
<div class="menu px-6">
  <div class="d-flex justify-content-start">
    <button class="js-menu hamburger hamburger--collapse is-active" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <div class="menu__logo-wrap">
    <a class="menu__logo" href="#">HIKARI</a>
  </div>
  <nav class="menu__nav">
    <ul class="menu__sidebar">
      <li><a class="js-scroll" href="#company">Company</a></li>
      <li><a class="js-scroll" href="#models">Models</a></li>
      <li><a class="js-scroll" href="#services">Service</a></li>
      <li><a class="js-scroll" href="#footer">Contacts</a></li>
    </ul>
  </nav>
  <div class="menu__lang-wrap">
    <a href="#">RUS</a>
    <a href="#">ENG</a>
    <a href="#">JPN</a>
  </div>
</div>
