.footer
  background: $c2
  padding: 81px
  +lg
    padding: 60px
  +md
    padding: 40px
  +sm
    padding: 20px
  &__block
    display: flex
    justify-content: center
    gap: 96px
    align-items: center
    +xxl
      justify-content: center
      flex-direction: column
    +md
      gap: 50px
    +sm
      gap: 30px

  &__left-title-wrap
    margin-bottom: 48px
    +md
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

    span
      color: $c3
      font-family: $deff
      font-size: 14px
      font-weight: 500
      line-height: 24px
      text-align: left
    h2
      color: $c3
      font-family: Forum
      font-size: 48px
      font-weight: 400
      line-height: 48px
      text-transform: uppercase
      text-align: left
      +md
        font-size: 38px
      +sm
        font-size: 32px
      
  &__left-input-wrap
    position: relative
    display: flex
    gap: 24px
    align-items: center
    margin-bottom: 24px
    +lg
      flex-direction: column
    input
      padding: 12px 10px
      color: $c3
      border: none
      border-bottom: 1px solid gray
      background-color: $c2
      width: 420px
      font-family: $deff
      font-size: 16px
      font-weight: 500
      line-height: 24px
      text-align: left
      +md
        width: 320px
      +sm
        width: 300px

  &__comment-wrap
    margin-bottom: 30px
    textarea
      background-color: $c2
      border: none
      border-bottom: 1px solid gray
      resize: none
      font-family: $deff
      font-size: 16px
      font-weight: 500
      line-height: 24px
      text-align: left
      color: $c3
  &__btn-checkbox-wrap
    display: flex
    gap: 50px
    +lg
      flex-direction: column
      justify-content: center
  &__send-btn-wrap
    +md
      display: flex
      justify-content: center
      align-items: center
  &__send-btn
    padding: 6px 24px
    border-radius: 18px
    background-color: $c3
    border-radius: 18px
    font-family: $deff
    font-size: 14px
    font-weight: 500
    line-height: 24px
    text-align: center
    transition: all 0.5s ease
    border: 1px solid transparent
    text-align: center
    &:hover
      border-color: $c3
      color: white
      background-color: $c0

  &__checkbox-wrap
    display: flex
    align-items: center
    +md
      flex-direction: column
    h4
      color: $c3
      font-family: $deff
      font-size: 14px
      font-weight: 500
      line-height: 24px
      text-align: lefts
      +md
        text-align: center
    label
      display: flex
      align-items: center
      gap: 12px
      +md
        flex-direction: column

  &__real-checkbox
    width: 10px
    display: none

  &__custom-checkbox
    position: relative
    display: inline-block
    width: 20px
    height: 20px
    background-color: $c3
    border: 2px solid white
    margin-right: 12px
    vertical-align: top
    &::before
      content: " "
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)
      display: inline-block
      width: 12px
      height: 12px
      background-color: black
      display: none

  &__real-checkbox:checked + .footer__custom-checkbox::before
    display: block



  &__chekcbox-link
      color: gray
      font-family: $deff
      font-size: 14px
      font-weight: 500
      line-height: 24px
      text-align: left


  &__right-title-wrap
    display: flex
    justify-content: center
    flex-direction: column
    margin-bottom: 48px
    +md
      margin-bottom: 20px
    span
      color: $c3
      font-family: $deff
      font-size: 14px
      font-weight: 500
      line-height: 24px
      text-align: center
    h2
      // max-width: 768px
      // width: 100%
      color: $c3
      font-family: Forum
      font-size: 48px
      font-weight: 400
      line-height: 48px
      text-transform: uppercase
      text-align: center  
      +md
        font-size: 38px
        max-width: 1900px
      +sm
        line-height: 30px
        font-size: 28px
  &__right-btn-wrap
    display: flex
    justify-content: center
    align-items: center
    gap: 24px
    margin-bottom: 152px  
    +md
      margin-bottom: 50px
      flex-direction: column
  
  &__btn
    background-color: $c3
    max-width: 240px
    width: 100%
    padding: 6px
    border-radius: 18px
    font-family: $deff
    font-size: 14px
    font-weight: 500
    line-height: 24px
    text-align: center
    transition: all 0.5s ease
    border: 1px solid transparent
    +md
      max-width: 190px
      width: 100%
    &:hover
      border-color: $c3
      color: white
      background-color: $c0

  &__icons
    display: flex
    align-items: center
    justify-content: space-between
    +md
      gap: 20px
      flex-direction: column

  &__icon-links
    display: flex
    align-items: center
    gap: 24px

  &__about-hikari
    display: flex
    gap: 48px
    +md
      gap: 10px
      flex-direction: column
      justify-content: center
      align-items: center
    span
      color: gray
      font-family: Raleway
      font-size: 14px
      font-weight: 500
      line-height: 24px
      text-align: right

