.header
  padding: 24px 20px
  background-color: $c2
  &__logo
    font-family: $Form
    font-size: 32px
    font-weight: 400
    line-height: 24px
    text-align: center
    text-decoration: none
    color: $c3
    &:hover
      color: $c3

  &__block
    display: flex
    align-items: center
    justify-content: space-between
    +lg
      display: none
  

  &__lang-wrap
    display: flex
    align-items: center
    gap: 24px
    +md
      display: none
    a
      &:focus
        color: $c3
      text-decoration: none
      color: $c4
      font-family: $deff
      font-size: 14px
      font-weight: 500
      line-height: 24px
      text-align: left
ul
  display: flex
  gap: 96px
  a
    color: $c3
    text-decoration: none
    font-family: $deff
    font-size: 14px
    font-weight: 500
    line-height: 24px
    text-align: center
    text-transform: uppercase
    &:hover
      color: $c3



  
